<ion-view view-title="Ações">
    <ion-content>
        <div class="list card" ng-repeat="acao in acoes | orderBy: 'data'">
            <!-- item-thumbnail-left  -->
            <div class="item item-divider item-icon-right">
                <h2><span ng-bind="acao.nomePersonagem"></span></h2>
                <p><span ng-bind="acao.jogador"></span></p>

                <p>Enviada em <span>{{acao.data | date: 'dd/MM HH:mm'}}</span></p>
                <a ng-click="responder(acao)">
                    <i class="icon ion-android-checkmark-circle"></i>
                </a>
                <a ng-click="responder(acao)">
                    <i class="icon ion-android-checkmark-circle"></i>
                </a>
            </div>
            <div class="item item-body">
                <span ng-bind="acao.acao"></span>
            </div>

        </div>
    </ion-content>
</ion-view>