<ion-view view-title="Administração">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left item-icon-right" ui-sref="app.admin">
                <i class="icon ion-sad-outline"></i>
                Tratar Ações
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.admin">
                <i class="icon ion-ios-people"></i>
                Personagens
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.admin">
                <i class="icon ion-chatbubbles"></i>
                Administrar Salas de Chat
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.admin">
                <i class="icon ion-social-usd"></i>
                Pagamentos
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>