<ion-view view-title="Dados">
  <ion-content>
    <form name='formDados' ng-submit="rolar(params)">
    <div id="resultado" style="height: 100px"> 
      <button class="button button-full button-{{sucesso? 'balanced':'assertive'}}" style="height: 100px" ng-show="mostraresultado">
          <span ng-bind="resultadodados" style="font-size: 30px"></span><br/>
      </button>
    </div>
    <div class="list">
      <div class="item item-divider">
        Modificador
        <span class="badge badge-positive">{{params.modificador}}</span>
      </div>  
      <div class="item range range-positive">
        <i class="icon ion-ios-minus-outline"></i>
        <input type="range" name="volume" min="0" max="10" value="{{params.modificador}}" ng-model="params.modificador">
        <i class="icon ion-ios-plus-outline"></i>
      </div>
      <div class="item item-divider">
        Mínimo de sucessos
        <span class="badge badge-positive">{{params.sucessos}}</span>
      </div>  
      <div class="item range range-positive">
        <i class="icon ion-ios-minus-outline"></i>
        <input type="range" name="volume" min="1" max="15" value="{{params.sucessos}}" ng-model="params.sucessos">
        <i class="icon ion-ios-plus-outline"></i>
      </div>
      <div class="item item-divider">
        Dificuldade
        <span class="badge badge-positive">{{params.dificuldade}}</span>
      </div>  
      <div class="item range range-positive">
        <i class="icon ion-ios-minus-outline"></i>
        <input type="range" name="volume" min="1" max="10" value="{{params.dificuldade}}" ng-model="params.dificuldade">
        <i class="icon ion-ios-plus-outline"></i>
      </div>
      <div class="item item-divider">
        Parada de dados
        <span class="badge badge-positive">{{params.paradadedados}}</span>
      </div>  
      <div class="item range range-positive">
        <i class="icon ion-ios-minus-outline"></i>
        <input type="range" name="volume" min="1" max="15" value="{{params.paradadedados}}" ng-model="params.paradadedados">
        <i class="icon ion-ios-plus-outline"></i>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" style="height: 80px">
          <span>Rolar</span>
        </button>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>
