<div class="bar bar-header bar-assertive">
  <h1 class="title">Login</h1>
</div>
<div id="login" class="list padding">
  <form ng-submit="emailLogin(loginData)">
    <label class="item item-input">
    <span class="input-label">Email</span>
          <input type="email" placeholder="joao@email.com" ng-model="loginData.email">
        </label>
    <label class="item item-input">
    <span class="input-label">Senha</span>
          <input type="password" placeholder="senha" ng-model="loginData.password">
        </label>
    <label class="item">
          <button class="button button-block button-positive" type="submit">Entrar</button>
        </label>

    <div class="item">
      <p>Ainda não possui login? <a ui-sref="signup">Cadastre-se.</a></p>
    </div>
    <div class="item text-right">
      <p>Esqueceu sua senha? <a>Clique aqui.</a></p>
    </div>
  </form>
</div>