<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Ancient Alliance Live</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!-- 
        <ion-item menu-close ng-click="login()">
              <i class="icon ion-email"></i> Login
        </ion-item>
        -->
        <li class="item item-image">
            <img ng-src="{{user.claImage ? user.claImage : './img/clanlogos/caitiff.png'}}" class="gm-header-menu-img"> <!-- ./img/clanlogos/ventrue.png -->
        </li>
        <div class="item item-avatar" ng-show="user">
          <img ng-src="{{user.claImage}}">
          <h2>{{user.nome}}</h2>
          <p>{{user.jogador}}</p>
        </div>
<!--
        <a class="item item-icon-left" menu-close href ng-click="login()" ng-hide="user">
          <i class="icon ion-log-in"></i>
          Login
        </a>      
--> 
        <a class="item item-icon-left" menu-close ui-sref="app.criacao">
          <i class="icon ion-person"></i>
            Meu Personagem
        </a>      
        <a class="item item-icon-left" menu-close ui-sref="app.clanchat({clanid: 'Setitas'})">
          <i class="icon ion-chatbubbles"></i>
            Chat do Clã
        </a>      
        <a class="item item-icon-left" menu-close ui-sref="app.npcs">
          <i class="icon ion-chatbubbles"></i>
            Chat da Seita
        </a>      
        <a class="item item-icon-left" menu-close ui-sref="app.criacao">
          <i class="icon ion-android-star"></i>
            Destaques
        </a>      
        <a class="item item-icon-left" menu-close ui-sref="app.criacao">
          <i class="icon ion-ios-people"></i>
            Personagens
        </a>      
        <a class="item item-icon-left" menu-close ui-sref="app.criacao">
          <i class="icon ion-pin"></i>
            Eventos
        </a>      
        <a class="item item-icon-left" menu-close ui-sref="app.planilha">
          <i class="icon ion-clipboard"></i>
            Episódios
        </a>      
        <a class="item item-icon-left" menu-close ui-sref="login">
          <i class="icon ion-log-out"></i>
          Sair
        </a>      
        <!-- 
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Personagens
        </ion-item>
        -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
