/* Empty. Add your own CSS if you like */

.gm-header-menu-img {
    width: 50% !important;
    padding: 10px 0 10px 0;
}

#perfil {
    padding-top: 55px;
}

#login {
    padding-top: 55px;
}

#login.list .item
{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

pre {
    font-family: sans-serif
}